name: animated_quiz_chart
description: A beautiful animated quiz result chart package for Flutter with customizable progress indicators.
version: 1.0.4
homepage: https://github.com/QasimAwan925/animated_quiz_chart
repository: https://github.com/QasimAwan925/animated_quiz_chart.git

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true